h1{
    text-align: center;
}
.horizontalSplit{
    
    text-align: center;
    height: 83vh;
}
.vertSplit, #wordRow, #infoRow{
    height: 50%;
    
}
#hangRow{
    height: 83vh;
}
#hangCol{
    height: 80%;
}
#main{
    height: 98vh;
    margin-left: 5%;
    margin-right: 5%;
}
#alphButtons{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
}
button{
    margin-top: 20px;
    margin-left: 2px;
    margin-right: 2px;
}
#topLeft{
    height: 100%;
}
#wordCol{
    font-size: 25px;
    padding-top: 70px;
}
img{
    border: 4px solid black;
    border-radius: 15px
}
#titleCol{
    padding-bottom: 50px;
}